@import url('https://fonts.googleapis.com/css2?family=Abel&family=Boogaloo&display=swap');

/*general styling*/

body {
    font-family: 'Abel', sans-serif;
    text-align: center;
    font-size: 1rem;

    padding: 0%;

    background: linear-gradient(olive, yellow) no-repeat;
}

h1 {
    font-family: 'Boogaloo', sans-serif;
    font-size: 6rem;
    text-align: center;
}

/* logo */

.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    padding: 0%;
}

/* resizes just logo image and not whole div */

#logo {
    height: 15rem;
    width: 15rem;
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}