@import url('https://fonts.googleapis.com/css2?family=Abel&family=Boogaloo&display=swap');

/*general styling*/


body {
    font-family: 'Abel', sans-serif;
    text-align: center;
    font-size: 1rem;

    background: linear-gradient(olive, yellow) no-repeat;
}

h1 {
    font-family: 'Boogaloo', sans-serif;
    font-size: 5rem;
    text-align: center;
}


/* logo */

.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    padding: 0%;
    margin-bottom: -50px;
}

/* resizes just logo image and not whole div */

#logo {
    height: 30rem;
    width: 30rem;
}

/* welcome section */

.welcome h1 {
    margin-top: -20px;
}

.start {
    font-family: 'Boogaloo', sans-serif;
    font-size: 2rem;

    border-radius: 2rem;
    padding: .7rem;

    background-color: black;
    color: white;
}

/* change background color on hover */

.start:hover {
    background-color: olive;
    color: white;

}

/* game section */

#game-logo {
    height: 15rem;
    width: 15rem;
    padding-bottom: 5rem;
}

.game-section {
    width: 80vw;
    height: 70vh;
    max-width: 80%;

    background-color: olive;
    box-shadow: 0 0 6px 5px black;
    border-radius: 2rem;

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* score section */

.score-area {
    font-family: 'Abel', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.game-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#question-text {
    font-family: 'Boogaloo', sans-serif;
    font-size: 2rem;

    padding-top: 2rem;

    color: black;
}

.answer-options {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.btn {
    font-family: 'Abel', sans-serif;
    font-size: 1.6rem;

    background-color: black;
    color: white;

    border-radius: 1rem;
    padding: .9rem;
    margin-bottom: 1rem;

    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    cursor: pointer;
    /* shows difference between clickable and non clickable elements */
}

.btn:hover {
    background-color: yellow;
    color: black;
}

.restart-btn {
    height: 35px;
    width: 55px;
    font-size: 16px;

}

/* hides elements on page when class is added to element */

.hide {
    display: none;
}


/* footer */

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    border: solid olive;
    border-radius: 1rem;
    margin-top: 2rem;
}